body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}



.container{
    width: 400px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(162, 156, 156, 0.1);
    background-color: #333;
    
}
.btn {
  border: none;
  height: 80px;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  
}

/* Color Classes */
.dark-grey { background-color: #505050; } /* Numbers */
.light-grey { background-color: #D4D4D2; color: black; } /* Top row */
.orange { background-color: #FF9F0A;  } /* Operators */

.cal-btn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    
    border-radius: 30px;
    
}


.input-value {
    padding: 10px;
    font-size: 33px;
    color: whitesmoke;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.btn-zero{
    grid-column: span 2;
    color: whitesmoke;
}

.input-box{
    width: 100%;
    height: 50px;
    margin: 20px 10px;
    font-size: 24px;
    text-align: right;
    border: 1.2px solid #ccc;
    border-radius: 5px;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}